<h1>Hello {{name}}</h1>
<h2>Welcome to {{courseName}}</h2>
<ul>
  <li *ngFor="let student of students">
    <h2>{{student.studentId}}</h2>
    <p>{{student.name | uppercase}} {{student.surname}}</p>
    <p *ngIf="student.gpa > 2.5">Good student who get grade {{student.gpa | number:'1.2-2'}}</p>
    <p *ngIf="student.gpa <= 2.5">Bad student who get grade {{student.gpa | number:'1.2-2'}}</p>
    <p *ngIf="student.gpa < 2.2">You may be out of university</p>
  </li>
</ul>
<p>The average gpa is {{averageGpa() | number:'1.4-4'}}</p>
<h2>Current time {{getCurrentTime() | date:'shortTime'}}</h2>